---
- name: Add nginx stable repo
  apt_repository: repo=ppa:nginx/stable state=present update_cache=yes

- name: Install nginx
  apt: name=nginx-full state=present

- name: Install GoAccess (log analyzer)
  apt: name=goaccess state=present

- name: Create "/etc/nginx/ssl" dir
  file: 'path="/etc/nginx/ssl" mode=0700 state=directory'

- name: Copy SSL certificate to "/etc/nginx/ssl/{{nginx_proxy_configuration_name}}.cert"
  copy: 'src={{nginx_proxy_ssl_certificate}} dest="/etc/nginx/ssl/{{nginx_proxy_configuration_name}}.cert" mode=0600'
  notify: reload nginx
  when: {{nginx_proxy_ssl_certificate}}

- name: Copy SSL certificate key to "/etc/nginx/ssl/{{nginx_proxy_configuration_name}}.key"
  copy: 'src={{nginx_proxy_ssl_certificate_key}} dest="/etc/nginx/ssl/{{nginx_proxy_configuration_name}}.key" mode=0600'
  notify: reload nginx
  when: "{{nginx_proxy_ssl_certificate_key}}"

- name: Copy nginx configuration for "{{nginx_proxy_configuration_name}}"
  template: src=default.conf dest="/etc/nginx/sites-enabled/{{nginx_proxy_configuration_name}}"
  notify: reload nginx

- name: Ensure nginx started
  service: name=nginx state=started enabled=yes
